@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Escolha uma das opções abaixo:</p>

    <div class="list-group">
        <a asp-controller="Clientes" asp-action="Index" class="list-group-item list-group-item-action">
            Clientes
        </a>
        <a asp-controller="JobOrders" asp-action="Index" class="list-group-item list-group-item-action">
            Job Orders
        </a>
        <a asp-controller="NotasFiscais" asp-action="Index" class="list-group-item list-group-item-action">
            Notas Fiscais
        </a>
        <a asp-controller="SdrBdr" asp-action="Index" class="list-group-item list-group-item-action">
            SDR/BDR
        </a>
    </div>
</div>